*/private/*
bak
bin
build
classes
dist
fuscus
obj
log
database
captures
tmp
tmp.txt
Output
*.kml
*.user
*.suo
*.sln.cache
*.ncb
*.vcproj.*.user
*.hzs
*.bak
*~
*.vpp~*
*.pb2
*.local
Thumbs.db
AssemblyInfo.java
GitDescription.java
